# Development mode
# Set to "true" for development (unminified JS/CSS files)
# Set to "false" or remove for production (minified files)
DEV_MODE=true

# Database configuration (used by both app and postgres container)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=survey_user
DB_PASSWORD=survey_pass
DB_NAME=survey_app

# These variables are used by postgres container
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_DB=${DB_NAME}
